@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

body
	font-size: 14px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: $text
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold

.topline
	height: 15px
	background-color: #FF7400
	width: 100%
	margin-bottom: 10px
.toptxt
	text-align: center
	padding-top: 15px
.topadr
	text-align: center
	content: ' '
	position: absolute
	background: url("../img/_src/location.png") 0 0 no-repeat
	-webkit-background-size: contain
	background-size: contain
	height: 49px
	padding-left: 59px
	margin-top: 23px
.topphone
	float: right
	font-size: 32px
	margin-top: 15px
	a 
		font-size: 16px
		text-align: center
	content: ' '
	position: absolute
	background: url("../img/_src/phone.png") 0 0 no-repeat
	-webkit-background-size: contain
	background-size: contain
	height: 57px
	padding-left: 66px
	margin-top: 14px
	margin-left: 33px
	color: #FF7400
.callb
	text-align: center
	display: block
	margin-top: -27px
.nav
	li 
		list-style: none
		padding: 5px 10px
		display: inline-block
		float: left
	.sub-menu
		display: none
		li 
			display: inline
@import "media" // Always at the end
